body{

font-family:Arial;
background:#d32f2f;
color:white;
text-align:center;
margin:0;
padding:20px;

}

.hidden{
display:none;
}

.menu{

background:#ef5350;
padding:20px;
border-radius:12px;
max-width:400px;
margin:auto;

}

.screen{

background:white;
color:black;
border-radius:10px;
padding:20px;
margin:20px auto;
max-width:350px;

}

#sprite{

width:180px;
height:180px;
image-rendering:pixelated;

}

.controls{

margin:10px;

}

input{

padding:8px;
font-size:16px;

}

button{

padding:8px 14px;
margin:5px;
cursor:pointer;

}

.suggestions{

background:white;
color:black;
max-width:200px;
margin:auto;
border-radius:6px;

}

.suggestion{

padding:6px;
cursor:pointer;

}

.suggestion:hover{

background:#eee;

}

.typeBadge{

background:#333;
padding:6px;
border-radius:6px;
margin:3px;
display:inline-block;

}

.compareBox{

display:flex;
justify-content:space-around;
font-size:20px;

}

.comparePokemon{

cursor:pointer;

}

.reveal{

animation:reveal 0.4s ease;

}

@keyframes reveal{

0%{filter:brightness(0)}
100%{filter:none}

}
