body{
font-family:Arial;
background:#d32f2f;
color:white;
text-align:center;
}

.hidden{
display:none;
}

.menu{
max-width:400px;
margin:auto;
background:#ef5350;
padding:20px;
border-radius:10px;
}

.menu button{
width:100%;
padding:15px;
margin:10px 0;
}

.screen{
background:#d9d9d9;
border:4px solid #333;
padding:20px;
border-radius:10px;
margin-bottom:15px;
color:black;

display:flex;
align-items:center;
justify-content:center;
}

#sprite{

image-rendering:pixelated;

width:180px;
height:180px;

background:transparent;

object-fit:contain;

}

.controls{
margin-bottom:15px;
}

.compareBox{
display:flex;
justify-content:space-around;
font-size:20px;
}
